<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="4" offset-md="4">
      <div class="panel-con anim-shift-up">
        <div>
          <ion-item class="form-ctrl ion-no-padding" lines="none">
            <span class="label">
              Username
            </span>
            <span class="icon">
              <ion-icon name="person-outline" color="primary"></ion-icon>
            </span>
            <ion-input [(ngModel)]="username" placeholder="Github Username"></ion-input>
            <ion-button class="go-btn" size="medium" (click)="onWatch()">GO</ion-button>
          </ion-item>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
