<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{username}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row>
    <ion-col size-md="4" offset-md="4">
      <div class="heading">
        <h1>Repositories</h1>
      </div>
      <li class="repo-card" *ngFor="let repo of repos">
            <h2>{{repo.name}}</h2>
            <p>{{repo.description}}</p>
      </li>
    </ion-col>
  </ion-row>
</ion-content>
