<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{username}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row>
    <ion-col size-md="4" offset-md="4">
      <div class="heading">
        <h1 *ngIf="repos.length>0">Repositories</h1>
        <p *ngIf="repos.length==0">This user has not created any repository</p>
      </div>
      <li class="repo-card" *ngFor="let repo of repos" routerLink="/repositories/{{repo.full_name}}">
            <h2>{{repo.name}}</h2>
            <p>{{repo.description}}</p>
      </li>
    </ion-col>
  </ion-row>
</ion-content>
