<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="4" offset-md="4">
      <div class="activity-header heading bg-grad">
        <ion-text color="light">
          <h1>Updates</h1>
          <h3>Updates and version history</h3>
        </ion-text>
      </div>
      <div class="waves">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#5e42b1" fill-opacity="1" d="M0,64L48,64C96,64,192,64,288,90.7C384,117,480,171,576,208C672,245,768,267,864,250.7C960,235,1056,181,1152,181.3C1248,181,1344,235,1392,261.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
        </svg>
        <span class="wave-behind" >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f21170" fill-opacity=".5" d="M0,256L48,234.7C96,213,192,171,288,176C384,181,480,235,576,224C672,213,768,139,864,101.3C960,64,1056,64,1152,90.7C1248,117,1344,171,1392,197.3L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
          </svg>
        </span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isUpdateAvailable==1">
    <ion-col size-md="4" offset-md="4">
      <div class="update-card">
        <h2>New Update is available</h2>
        <h5>Download the updated app to experience new features</h5>
        <ion-button color="primary" expand="block" href="https://gitstalker.netlify.app/#downloads">
          <ion-icon name="download" slot="start"></ion-icon>
          Update now
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="4" offset-md="4">
      <h1>Release Log</h1>
      <div class="alert">
        <h2>Version 1.0</h2>
        <li>Application initialisation</li>
        <li>Active user feed preview</li>
        <li>Session managment</li>
      </div>
      <div class="alert">
        <h2>Version 1.1</h2>
        <li>Added check for update feature</li>
        <li>Added new splash screen</li>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
