<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row>
    <ion-col size-md="4" offset-md="4">
      <div class="heading">
        <h1>Received Events</h1>
      </div>
      <ion-item class="feed-item" *ngFor="let feed of feeds" detail routerLink="/user-profile/{{feed.actor.login}}">
        <ion-avatar slot="start">
          <img src="{{feed.actor.avatar_url}}">
        </ion-avatar>
        <ion-label>
          <span class="actor">{{feed.actor.login}}</span>
          <span [ngSwitch]="feed.type">
          <p *ngSwitchCase="'CreateEvent'">
            created a repository
          </p>
          <p *ngSwitchCase="'PushEvent'">
            pushed an update to
          </p>
          <p *ngSwitchCase="'WatchEvent'">
            starred a repository
          </p>
          <p *ngSwitchCase="'ForkEvent'">
            forked a repository <br/> {{feed.payload.forkee.full_name}} from
          </p>
          <p *ngSwitchCase="'DeleteEvent'">
            deleted the branch {{feed.payload.ref_type}}
          </p>
          <p *ngSwitchCase="'MemberEvent'">
            became a contributor to
          </p>
          <p *ngSwitchCase="'PublicEvent'">
            made a repository public
          </p>
          <p *ngSwitchDefault>
            did a {{feed.type.replace('Event','')}} on
          </p>
          </span>
          <p class="feed-desc">
            {{feed.repo.name}}
          </p>
          <ion-text color="medium">
            <h6 class="ion-text-end">
              {{feed.created_at.slice(5,10).replace('-','/')}}/{{feed.created_at.slice(0,4)}}
            </h6>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
