<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
    <ion-title>
      Git Watch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <div class="activity-header heading bg-grad">
            <ion-text color="light">
              <h1>Activity Feed</h1>
              <h3>{{today}}</h3>
            </ion-text>
          </div>
          <div class="waves">
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
              <path fill="#5e42b1" fill-opacity="1" d="M0,64L48,64C96,64,192,64,288,90.7C384,117,480,171,576,208C672,245,768,267,864,250.7C960,235,1056,181,1152,181.3C1248,181,1344,235,1392,261.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
            </svg>
            <span class="wave-behind" >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#f21170" fill-opacity=".5" d="M0,256L48,234.7C96,213,192,171,288,176C384,181,480,235,576,224C672,213,768,139,864,101.3C960,64,1056,64,1152,90.7C1248,117,1344,171,1392,197.3L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
              </svg>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-item *ngFor="let feed of feeds" detail routerLink="/repositories/{{feed.repo.name}}">
            <ion-avatar slot="start">
              <img src="{{feed.actor.avatar_url}}">
            </ion-avatar>
            <ion-label>
              <span class="actor2">{{feed.actor.login}}</span>
              <ion-badge *ngIf="today_ref==feed.created_at.slice(5,10)" style="margin-left:20px" size="small" color="primary">new</ion-badge>
              <br/>
              <span [ngSwitch]="feed.type">
              <p *ngSwitchCase="'CreateEvent'">
                created a repository
              </p>
              <p *ngSwitchCase="'WatchEvent'">
                starred a repository
              </p>
              <p *ngSwitchCase="'ForkEvent'">
                forked a repository <br/> {{feed.payload.forkee.full_name}} from
              </p>
              <p *ngSwitchCase="'DeleteEvent'">
                deleted the branch {{feed.payload.ref_type}}
              </p>
              <p *ngSwitchCase="'MemberEvent'">
                became a contributor to
              </p>
              <p *ngSwitchCase="'PublicEvent'">
                made a repository public
              </p>
              <p *ngSwitchCase="'PushEvent'">
                pushed an update to
              </p>
              <p *ngSwitchDefault>
                did a {{feed.type.replace('Event','')}} on
              </p>
              </span>
              <p class="feed-desc">
                {{feed.repo.name}}
              </p>
                <p class="ion-text-end">
                  {{feed.created_at.slice(5,10)}} at {{feed.created_at.slice(11,15)}}
                </p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="bg-grad">
        <ion-col>
          <ion-text class="ion-text-center" color="light">
            <h2>Developers you follow</h2>
          </ion-text>
          <ion-slides [options]="slideOpts" class="home-stories">
            <ion-slide routerLink="/user-profile/{{user.login}}">
              <ion-avatar>
                <img src="{{user.avatar_url}}">
              </ion-avatar>
            </ion-slide>
            <ion-slide  *ngFor="let profile of following" routerLink="/user-profile/{{profile.login}}">
              <ion-avatar>
                <img src="{{profile.avatar_url}}">
              </ion-avatar>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
